@section styles
{
    <link href="~/Content/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/datatables/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.min.css" rel="stylesheet" />
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
}
@section scripts
{
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/Scripts/select2/select2.min.js"></script>
    <script src="~/Scripts/MyScripts/UserInterface.js"></script>
    <script src="~/Scripts/MyScripts/utilities.js"></script>
    <script src="~/Scripts/MyScripts/order.js"></script>
}
@{
    ViewBag.Title = "Orders";
}
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5>Operations</h5>
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="txtCustomer" class="col-form-label text-left">Customer</label>
                        <div class="form-row">
                            <input type="text" class="col-lg-10 form-control" id="txtCustomer" tabindex="1" placeholder="Customer" readonly>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-block btn-md" id="NewCustomer" tabindex="2">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label for="dtpOrderDate" class="col-form-label text-left">Order Date</label>
                            <div class="input-group date">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtpOrderDate" tabindex="3" placeholder="Order Date" />
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="dtpRequiredDate" class="col-form-label text-left">Required Date</label>
                            <div class="input-group date">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtpRequiredDate" tabindex="4" placeholder="Required Date" />
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="dtpShippedDate" class="col-form-label text-left">Shipped Date</label>
                            <div class="input-group date">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtpShippedDate" tabindex="5" placeholder="Shipped Date" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="form-row">
                            <label class="col-form-label text-left col-lg-12" for="txtShipName">Ship Name</label>
                        </div>
                        <div class="form-row">
                            <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="Ship Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">

                            <div class="form-row d-block">
                                <div class="col-lg-12 d-block">
                                    <label for="dtpOrderDate" class="col-form-label text-left">Country</label>
                                </div>
                            </div>
                            <div class="form-row d-block">
                                <div class="col-lg-12 d-block">
                                    <select class="form-control" id="cmbCountry" tabindex="7">
                                        <option></option>
                                    </select>
                                </div>
                            </div>



                        </div>
                        <div class="form-group col-lg-4">
                            <label for="dtpRequiredDate" class="col-form-label text-left">Region</label>
                            <select class="form-control" tabindex="8">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="dtpShippedDate" class="col-form-label text-left">City</label>
                            <select class="form-control" tabindex="9">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-10">
                            <label class="col-form-label text-left" for="txtShipAddress">Ship Address</label>
                            <input type="text" class="form-control" id="txtShipAddress" tabindex="10">
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="col-form-label text-left" for="txtShipAddress">Ship Postal Code</label>
                            <input type="text" class="form-control" id="txtShipAddress" tabindex="11">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" tabindex="12">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="13">Register</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5>Filter</h5>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="txtCustomer" class="col-sm-2 col-form-label">Order Date</label>
                            <div class="input-group date col-sm-4">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtFechaSolicitudInicial" placeholder="From" />
                            </div>
                            <div class="input-group date col-sm-4">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtFechaSolicitudFinal" placeholder="To" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="txtCustomer" class="col-sm-2 col-form-label">Required Date</label>
                            <div class="input-group date col-sm-4">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtFechaSolicitudInicial" placeholder="From" />
                            </div>
                            <div class="input-group date col-sm-4">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtFechaSolicitudFinal" placeholder="To" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="txtCustomer" class="col-sm-2 col-form-label">Shipped Date</label>
                            <div class="input-group date col-sm-4">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtFechaSolicitudInicial" placeholder="From" />
                            </div>
                            <div class="input-group date col-sm-4">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </span>
                                <input type="text" class="form-control dtpFecha" id="dtFechaSolicitudFinal" placeholder="To" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5>Data</h5>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="content">
                    <h1>Orders</h1>
                    <br />
                    <table id="tblOrdenes" class="table table-bordered table-hover dt-responsive nowrap text-secondary">
                        @*
                            <table id="tblOrdenes" class="table table-bordered table-hover table-responsive dt-responsive ">
                        *@
                        <thead>
                            <tr>
                                <th>CUSTOMER</th>
                                <th>ORDER DATE</th>
                                <th>REQUIRED DATE</th>
                                <th>SHIPPED DATE</th>
                                <th>SHIP NAME</th>
                                <th>SHIP ADDRESS</th>
                                <th>SHIP CITY</th>
                                <th>SHIP REGION</th>
                                <th>SHIP COUNTRY</th>
                                <th>SHIP POSTAL CODE</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
